# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Node.js Package

on:
    pull_request:
        branches:
            - main
        types: [closed]

jobs:
    publish-npm:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: 16.20.0
            - run: npm i -g pnpm
            - run: pnpm i
            - run: pnpm upload
              env:
                  NODE_AUTH_TOKEN: ${{secrets.npm_token}}
